<p>

    <!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Gowun+Dodum&display=swap" rel="stylesheet" />
            <link href="./crearcuenta.css" rel="stylesheet" />
            <title>Document</title>
        </head>
        <body>
            <div class="v40_15">
                <span class="v40_16">H&S</span>
                <div class="v40_17"></div>
                <span class="v40_18">Rut</span>
                <span class="v40_19">Correo</span>
                <div class="v40_22"></div>
                <div class="v40_23"></div>
                <span class="v40_36">Contraseña</span>
                <div class="v40_37"></div>
                <span class="v40_33">Telefono</span>
                <div class="v40_34"></div>
                <span class="v40_30">Apellido</span>
                <div class="v40_31"></div>
                <span class="v40_27">Nombre</span>
                <div class="v40_28"></div>
                <div class="v40_24"></div>
                <span class="v40_25">Crear cuenta</span>
            </div>
        </body>
    </html>

</p>
