<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <title>Login</title>
</head>
<body>

<div class="v29_3">

  <span class="v7_3">H&S</span>

  <div class="v7_4"></div>

  <form method="post" action="/Auth/Login">

    <span class="v7_58">RUT</span>
    <input type="text" name="rut" class="v7_59" required>

    <span class="v7_60">Contraseña</span>
    <input type="password" name="password" class="v7_62" required>

    <button type="submit" class="v7_68 v7_66">Iniciar sesión</button>

  </form>

  <span class="v7_64">¿Olvidaste tu contraseña?</span>

  <span class="v7_65">
    ¿No tienes una cuenta?<br>
    Crea una<br>
    o<br>
    Entra como invitado
  </span>

</div>

</body>
</html>
