<p>

    <!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Gowun+Dodum&display=swap" rel="stylesheet" />
            <link href="./invitado.css" rel="stylesheet" />
            <title>Document</title>
        </head><body>
            <div class="v40_2">
                <div class="v40_4">

                </div>
                <span class="v40_3">H&S</span>
                <span class="v40_5">Rut</span>
                <div class="v40_9"></div>
                <div class="v40_11"></div>
                <span class="v40_12">Entar como invitado</span>
            </div>
        </body>
    </html>

</p>
